body {
  font-family: verdana;
  background-image: URL(../img/fundo.jpg);
  padding: 8px;
}
h1 {
  font-variant: small-caps;
}
h2 {
  text-shadow: 2px 2px 4 px;
}
.foto {
  position: absolute;
  right: 16px;
  width: 200px;
}
.direita {
  width: 50px;
  float: left-side;
}
